.bg-reddish-pink {
  background-color: #ff6e6e;
}

.bg-green {
  background-color: #a6ff91;
}

.bg-red {
  background-color: #fd0102;
}

.bg-black {
  background-color: #000;
}

.bg-black * {
  color: #fff;
}

.bg-purple {
  background-color: #a97abc;
}

.bg-grey {
  background-color: #afadc6;
}

body,
html {
  margin: 0;
}

body {
  background: #f6f6f6;
  /* max-width: 1300px;
  margin: auto; */
  padding: 0 10px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

main {
  margin-top: 15px;
  padding: 2rem 1.5rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

p {
  text-transform: none !important;
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif !important;
}

body.loading {
  background: #00081e !important;
}

body.loading header,
body.loading footer {
  display: none;
}

body * {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  margin-right: 20px;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a.active {
  font-weight: bold;
}

header h1 {
  font-size: 45px;
  font-weight: 900;
}

header h1 a {
  display: flex;
  align-items: center;
}

main .stats {
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

main .jhu-stats.stats {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

main .stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.stat.stat-horizontal {
  grid-column: span 2;
}

main .stats .main-stat {
  grid-row: span 2;
}

main.jhu-page small.last-update {
  font-family: 'Open Sans', sans-serif !important;
}
.stat .stat-label {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.stat .stat-label svg {
  margin-top: 2px;
  margin-right: 10px;
}

.stat.main-stat .stat-label {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.stat .stat-count {
  align-self: flex-end;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}

#loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

#loader {
  width: 30vw;
  margin: auto;
  display: block;
}

.text-left {
  text-align: left;
}

footer {
  margin-top: 20px;
  font-weight: 700;
  padding: 25px 10px;
  text-align: center;
}

footer a {
  color: #000;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex > * {
  margin: 0 20px;
  box-sizing: border-box;
}

.d-flex .left {
  margin-left: 0;
}

.d-flex .right {
  flex: 1;
  margin-right: 0;
}

.d-inline-block {
  display: inline-block;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header > * {
  margin-top: 0;
  margin-bottom: 20px;
}

p a {
  text-transform: none;
  font-size: 16px !important;
  font-family: 'Open Sans', sans-serif !important;
}

ul.sources li a {
  text-transform: none;
  font-size: 15px !important;
  font-family: 'Open Sans', sans-serif !important;
}

.text-center {
  text-align: center !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
  }

  header nav a {
    padding: 5px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 1000px) {
  header nav {
    margin-top: 0px;
    justify-content: center;
  }
  .section-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .section-header small {
    margin-top: 0;
  }

  main.jhu-page small.last-update {
    display: block;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
  }

  main.jhu-page small.last-update strong {
    display: block;
    margin-bottom: 5px;
  }

  main .jhu-stats.stats {
    grid-template-columns: repeat(4, 1fr);
  }

  main .stats .stat {
    grid-column: span 2;
    grid-row: span 1;
  }

  .stat .stat-label {
    font-size: 30px !important;
  }

  .d-flex.about {
    flex-direction: column;
  }

  .d-flex * {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  header img {
    margin: 20px 0;
  }
  header nav {
    flex-direction: column;
  }
  header h1 {
    font-size: 30px;
    margin-top: 0;
    text-align: center !important;
  }

  main .stats .stat {
    grid-column: span 4;
    grid-row: span 1;
  }

  .stat .stat-label {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 21px;
    text-align: left;
  }

  header nav a {
    font-size: 15px;
  }
}
